<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>com.gec.web.LoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>IndexServlet</servlet-name>
  <servlet-class>com.gec.web.IndexServlet</servlet-class>
 </servlet>
 <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/Index</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>SaveUserServlet</servlet-name>
  <servlet-class>com.gec.web.SaveUserServlet</servlet-class>
 </servlet>
 <servlet-mapping>
    <servlet-name>SaveUserServlet</servlet-name>
    <url-pattern>/User/saveUser</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>UserListServlet</servlet-name>
  <servlet-class>com.gec.web.UserListServlet</servlet-class>
 </servlet>
 <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/User/list</url-pattern>
 </servlet-mapping>
 <servlet>
 <servlet-name>showAddUserServlet</servlet-name>
  <servlet-class>com.gec.web.ShowAddUserServlet</servlet-class>
 </servlet>
 <servlet-mapping>
    <servlet-name>showAddUserServlet</servlet-name>
    <url-pattern>/User/showAddUser</url-pattern>
 </servlet-mapping>
  <servlet>
 <servlet-name>showEditUserServlet</servlet-name>
  <servlet-class>com.gec.web.ShowEditUserServlet</servlet-class>
 </servlet>
 <servlet-mapping>
    <servlet-name>showEditUserServlet</servlet-name>
    <url-pattern>/User/showEditUser</url-pattern>
 </servlet-mapping>
   <servlet>
 <servlet-name>deleteUserServlet</servlet-name>
  <servlet-class>com.gec.web.DeleteUserServlet</servlet-class>
 </servlet>
 <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/User/del</url-pattern>
 </servlet-mapping>
</web-app>

