<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <filter>
    <filter-name>protect</filter-name>
    <filter-class>cn.edu.nfu.filter.ProtectFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>protect</filter-name>
    <url-pattern>/Protect/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.edu.nfu.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>cn.edu.nfu.Servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>cn.edu.nfu.Servlet.Controller</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>cn.edu.nfu.ajax.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>cn.edu.nfu.utils.Upload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllFiles</servlet-name>
    <servlet-class>cn.edu.nfu.utils.ShowAllFiles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownLoad</servlet-name>
    <servlet-class>cn.edu.nfu.utils.DownLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllFiles</servlet-name>
    <url-pattern>/ShowAllFiles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownLoad</servlet-name>
    <url-pattern>/DownLoad</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>