<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContext01_demo</servlet-name>
    <servlet-class>Setvlet.ServletContext01_demo</servlet-class>
    <!-- 配置服务器信息(通过servletconfig.getInitParameter()获取) -->
    <init-param>
      <param-name>123</param-name>
      <param-value>123</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext01_demo</servlet-name>
    <url-pattern>/ServletContext01_demo</url-pattern>
  </servlet-mapping>
  <!-- 配置servletcontext配置信息 -->
  <context-param>
   <param-name>123</param-name>
   <param-value>123</param-value>
  </context-param> 
  <!-- 配置监听器 -->
  <listener>
     <listener-class>Listener.ServletContextListener_demo</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
